[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "*"
pytest = "*"
sphinx = "*"
recommonmark = "*"
tox = "*"
pipenv-setup = "*"
pipenv-to-requirements = "*"
pylama = "*"

[packages]
geopandas = "*"
click = "*"

[requires]
python_version = "3.8"
