[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "*"
pytest = "*"
sphinx = "*"

[packages]
geopandas = "*"
click = "*"
geotrans = {editable = true,path = "."}

[requires]
python_version = "3.8"
